* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: rgb(2 134 210 / 70%)
}

/*header Style start*/

header {
    font-family: arial;
    font-size: 23px;
    margin-top: 0.5in;
    padding: 0px;
    border-bottom: 3px solid white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center
}

header div h1 {
    font-weight: 1000;
    color: aqua;
    text-shadow: 3px 3px 5px black
}

.homebtn a {
    margin:30px;
    height: 100px;
    width: 100px;
}
.fas {
    color:#545454;
    text-decoration: none;
    transition: all 0.5s;
    padding:5px;
    border-radius: 10px    
}
.homebtn a:hover .fas{
    color: black;
    transform: translateY(-3px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 0px 3px 3px rgba(0, 0, 0, 0.5), 0px 6px 8px rgba(0, 0, 0, 0.5);
}

/*header Style end*/

/*header main Start*/

main {
    overflow: hidden;
    background-image: url(backimage.jpg)
}

.allContent {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between
}

.welcom {
    height: auto;
    background: rgba(0, 0, 0, 0.6);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
    font-family: cursive;
    flex-grow: 1;
    margin-top: 10px;

}

.welcom div h2 {

    text-align: center
}

.welcom div h3 {

    text-align: center
}

.welcom div h4 {

    text-align: center
}

.photodiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    margin-top: 10px;
    flex-grow: 1
}

.mainimage {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 8;
    background: rgba(0, 0, 0, 0.6);
    position: relative
}

.mainimage img {
    width: 467px;
    height: 780px;
}

.skilldiv ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    line-height: 70px;
    font-size: 24px;
    font-family: arial;
    font-weight: 600;
    color: white;
    padding-left: 65px;
    padding-right: 65px;
    background: pink;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.skilldiv {
    height: 780px;
    flex-grow: 4;
}



/*header main End*/

/*header Footer Start*/

footer {
    height: auto;
    margin-top: 15px;
    margin-bottom: 70px;
    border-top: 3px solid White;
    width: 90%;
    margin: auto
}

.foothead {
    background-color: none;
    padding: 20px;
    border-bottom: 3px solid white;
    width: 100%;
    height: auto
}

.foothead h1 {
    font-family: arial;
    font-weight: 1000;
    text-align: center;
    text-shadow: 3px 3px 5px black;
    color: aqua;
    font-family: cursive
}

.footContent,
.footContent2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    font-family: arial;
}

.icon img {
    height: 300px;
    width: 250px;
    margin: 10px;
    transition: all 1s;
    filter: brightness(0) invert(1);
}

.footContent .skills,
.experience,
.services {
    height: 400px;
    width: 400px;
    margin-top: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h2,
.experience h2,
.services h2 {
    margin: 5px;
    margin-top: 0px;
    font-weight: 1000;
    color: White
}

.skills div {
    transform: translateY(100px);
    list-style: none;
    text-align: left;
    background: rgba(255, 255, 255, .05);
    color: white;
    margin-top: 20px;
    line-height: 20px;
    font-weight: 600;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: all 1s;

}

.skills:hover div {
    transform: none;

}

.skills:hover .icon img {
    height: 50px;
    width: 50px;
    margin: 10px;
    color: orange;

}

.experience p {
    position: relative;
    transform: translateY(100px);
    width: 300px;
    text-align: justify;
    margin-top: 20px;
    padding: 10px;
    line-height: 25px;
    background: rgba(255, 255, 255, .05);
    font-size: 17px;
    color: white;
    font-weight: 600;
    transition: all 1s
}

.experience:hover p {
    transform: none
}

.experience:hover .icon img {
    height: 50px;
    width: 50px;
    margin: 10px;
    color: orange;

}

.services p {
    transform: translateY(100px);
    width: 300px;
    text-align: justify;
    margin-top: 20px;
    padding: 10px;
    line-height: 20px;
    background: rgba(255, 255, 255, .05);
    font-size: 16px;
    font-weight: 600;
    color: white;
    width: 80%;
    line-height: 22px;
    transition: all 1s
}

.services:hover p {
    transform: none
}

.services:hover .icon img {
    height: 50px;
    width: 50px;
    margin: 10px;
    color: orange;

}

.footContent2 div {
    height: 610px;
    width: 610px;
    background-color: #9999;
    margin-top: 20px;
    padding: 10px
}

/*header Footer End*/
