* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #ff0080, #ff9100, #bb02ff);
}

/*header Style start*/

header .container-fluid .container {
    font-family: arial;
    font-size: 23px;
    margin-top: 0.3in;
    padding: 10px 20px;
    border-bottom: 3px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header div h1 {
    font-weight: 1000;
    color: aqua;
    text-shadow: 3px 3px 5px black
}
header div h2 {
    font-weight: 600;
    
}

.homebtn a {
    margin:30px;
    height: 100px;
    width: 100px;
}
.fas {
    color:#545454;
    text-decoration: none;
    transition: all 0.5s;
    padding:5px;
    border-radius: 10px    
}
.homebtn a:hover .fas{
    color: black;
    transform: translateY(-3px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 0px 3px 3px rgba(0, 0, 0, 0.5), 0px 6px 8px rgba(0, 0, 0, 0.5);
}

/*About Nusrat start*/

.aboutdiv .photodiv{
    background:rgba(255, 255, 255, 0.18)
}

.aboutdiv .row .photo .mainphoto {
    width: 350px;
    height:500px;
    margin: auto
}
.aboutdiv .row .photo .mainphoto img{
    width: 100%;
    height: 100%;
}
.aboutdiv .row .detailstext{
    font-size: 18px;
    line-height: 2em;
    padding: 0 80px;
    text-align: justify;
    font-weight: 500
}

.container .row .portfolio h2,.about h2{
    background: rgba(255, 255, 255, 0.1);
    border-top-left-radius:50px;
    border-top-right-radius: 50px;
    border-top:4px solid black;
    border-bottom: 1px solid white;
}

/*main style end*/

/*footer style start*/

footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left:0;
    padding: 0px;
    width: 100%;
    background: none;
    text-align: center;
}

.bottomtitle {
    font-family: arial black;
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: white;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    background: rgba(255, 255, 255, 0.4);
    color: black;
    font-size: 19px
}

/*footer style end*/
/*contact/social/other links style start*/


.row .socialicon{
    height: 50px;
    width: 100%;
    /* background: rgb(255, 255, 255, 0.1); */
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background:rgba(255, 255, 255, 0.1);
    font-weight: 1000;
}

.row .socialicon .fab{
    width: 35%;
    transition: all 0.5s;
}
.row .socialicon:hover .fab{
transform: translateX(15px);}
.row .socialicon:hover{
    color:white;
    background: rgba(0, 0, 0, 0.5);

}
.border2{
    background: linear-gradient(15deg, #ff9100, #ff0080,  #0245ffa1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.col .contactrow{
    padding: 0 10px;
    display: flex;
    color: black;
    font-weight: 100;
    
}
.contactrow .fas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: black;
    background:rgba(255, 255, 255, 0.1);

    margin:0 4px
}
.contactrow span{
    width: auto;
    height: auto;
    color: black;
    margin:auto 0
}

.row .otherLinks{
    height: auto;
    width: 100%;
    padding:5px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background:rgba(255, 255, 255, 0.1);

    font-weight: 1000;
}
.row .otherLinks:hover{
    color:white;
    background: rgba(0, 0, 0, 0.5);

}

